@*@model List<MoviesMvcCoreBilgeAdam.Models.MovieModel>*@
@*@model List<MovieModel>*@
@model IEnumerable<MovieModel>

@{
    ViewBag.Title = "Movie List";
}

<h2>Movie List</h2>
<hr />
@Html.ActionLink("Create New Movie", "Create", "Movies")
<hr />
<table class="table">
    <tr>
        <th>
            @*Name*@
            @Html.DisplayNameFor(m => m.Name)
        </th>
        <th>
            @*Production Year*@
            @Html.DisplayNameFor(m => m.ProductionYear)
        </th>
        <th>
            @*Box Office Return*@
            @Html.DisplayNameFor(m => m.BoxOfficeReturnModel)
        </th>
        <th>

        </th>
    </tr>
    @foreach (MovieModel movie in Model)
    {
        <tr>
            <td>
                @movie.Name
            </td>
            <td>
                @movie.ProductionYear
            </td>
            <td>
                @movie.BoxOfficeReturnModel
            </td>
            <td>
                @*<a href="/Movies/Details/@movie.Id">Details</a>*@
                @Html.ActionLink("Details", "Details", "Movies", new { id = movie.Id })
            </td>
        </tr>
    }
</table>